<br><br><br><br>
<br><br><br><br>
<div class="filtershop">
</div>

<div id="container_shop">
<!-- <button type="button" onclick="list_shop.php">Cerrar</button> -->

	<h1>Nuestro catalogo</h1>


	<div id="list_products"></div>
</div>
            
<div id="npg"></div> 

<div  id="pagination"></div>


<div id="exampleModalLabel1"></div>

<h3>Productos que te podrian interesar:</h3>

<div id="featured"></div>

<div id="mapa" width="200" height="100"></div>
<p><div class='fomap'><img src="view/img/map.png"></div></p>

            <div class="contact">
                    <h2>Donde estamos:</h2>
                    <div id="map"  width="200" height="100"></div>
            </div>



            
            